.profile__info {
    max-width: 338px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 30px;
    align-self: center;
}

@media screen and (max-width: 680px) {
    .profile__info {
        max-width: 260px;
    }
}

@media screen and (max-width: 550px) {
    .profile__info {
        max-width: 282px;
        margin-top: 22px;
        margin-left: 0;
        justify-content: center;
    }
}