.footer {
    display: flex;
    max-width: 880px;
    align-items: flex-start;
    font-size: 19px;
    line-height: 22px;
    margin: 67px auto 60px;
    color: #545454;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
        font-size: 14px;
        line-height: 17px;
    }
}