.popup__container {
    width: 430px;
    border-radius: 10px;
    display: flex;
    position: fixed;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 11;
    transition: opacity .9s linear 0s;
}

@media screen and (max-width: 550px) {
    .popup__container {
        width: 282px;
        min-height: 322px;
    }
}

.popup__container:focus {
    outline: none;
}